footer{
    
    .footer{
        background-color: black;
        height: 70px;
        display: flex;
        align-items: center;
    
        p{
            color: white;
            text-align: center;
            width: 100%;
            margin:0
        }
    }
}